@import url(https://fonts.googleapis.com/css?family=Lato);

.columns {
}

html {
  background: url(img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo{
	margin-top: 50px;
	margin-bottom: 50px;
}

body{
	/* color: #a3a59f !important; */
  color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
}

.favoriteStar {
  float: right;
  font-size: 30px;
  padding-left: 10px;
}

.favorite {
  color: #f0a1a3;
}

.not-favorite {
  color: #ddd;
}

.post {
	height: auto;
	background: #fff;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom: 40px;
}

.pic {
    width: 150px;
    height: 150px;
    display: inline-block;
    height: 100%;
    float: left;
    margin-right: 20px;
}

.title {
	font-size: 1.8em;
	line-height: normal;
}

.excerpt {
    min-width: 200px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
}

.clear {
	clear: both;
}

#footer {
	text-align: center;
	color: #fff;
}

/* Overriding the skeleton CSS */
.button {
  color: #a3a69f !important;
}

.button:hover {
  background-color: white;
  color: #a3a59f !important;
  transition: all .6s ease;
}

.post {
  color: #a3a59f !important;
}

.newPost{
	background-color: white;
	color: #ABAAAA;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;

}

.buttonSubmit{
	background-color: #ec7064 !important;
	color: white !important;
	border: 0px !important;
}

.buttonSubmit:hover {
  background-color: #ed4e3e !important;
  color: white !important;
  transition: all .6s ease;
  border: 0px !important;
}

div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:0px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
div .tagsinput {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

.ui-autocomplete {
  border: 1px solid;
  border-bottom: none;
  list-style: none;

  background: #fff;
  list-style-type: none;
}
.ui-autocomplete li {
  border-bottom: 1px solid;
  padding: 5px;
  text-align: left;
  margin: 0px;
}
.ui-state-focus {
  background: #000;
  color: #fff;
}

.ui-helper-hidden-accessible div {
  display: none;
}