<head>
	<!-- Scripts and stylesheets to get fancy tags -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
	<script type="text/javascript" src="/app/client/helpers/jquery.tagsinput.js"></script>

</head>

<template name="postNew">
	{{#if currentUser}}
  <div class="row">
            <!--posts-->
        <form class ="newPost">
            <div>Add new Item</div>
			<div><label>Title:</label></div>
			<input type="text" class="u-full-width" name="title">
			<div><label class="u-full-width">Description:</label></div>
			<textarea name="description" class="u-full-width" id="" cols="50" rows="10"></textarea>
<!--			<div><label>Image URL:</label></div>
			{{> upload_semanticUI callbacks=finishedUpload}}
			<input class="hidden" type="text" name="imgURL" value="{{getUploadUrl}}">-->
			<div><label>Asking:</label></div>
			<input  class="u-full-width" type="text" name="Asking"><br>
            <div><label>Location:</label></div>
			<input class="u-full-width" type="text" name="location"><br>
			<div><label>Tags:</label></div>
			<input class="tags u-full-width" type="text" name="tags"><br>
			<input class="buttonSubmit" type="submit" value="Add Item">
		</form>
        </div>

		<script type="text/javascript">
			// Actual call to attach special tag properties
			$('.tags').tagsInput({width:'auto'});
		</script>

	{{/if}}
</template>