<template name="postItem">

		{{#if currentUser}}
<!-- Change to if offered or something of the sort
			{{#if rsvped}}
				<div class="unrsvp">Cancel</div>
			{{else}}
				<div class="rsvp">RSVP</div>
			{{/if}}
-->

		{{/if}}
		{{#if isAuthor}}
			<div class="cancel-event">Delete</div>
<!--			{{> eventCancelForm}} -->
		{{/if}}
		<div class="post">
            <div class="pic">
            	{{#if img_url}}
	            	<img src="{{img_url}}" width="auto">
	            {{else}}
	            	<img src="img/post1.jpg" width="auto">
	            {{/if}}
            </div>
            <div class="excerpt">

                {{ #if currentUser }}
                    {{ #if isFavorited }}
                        <i class="fa fa-star favoriteStar favorite"></i>
                    {{ else }}
                        <i class="fa fa-star favoriteStar not-favorite"></i>
                    {{ /if }}
                {{ /if }}

                <div class="title">{{title}}</div>
                <div>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
</template>