<template name="eventNew">
	{{#if currentUser}}
  <div class="row">
            <!--posts-->
     <div class="one column">&nbsp;</div>
        <div class="ten columns">
        <form class ="newPost">
            <div>Add new Item</div>
			<div><label>Title:</label></div>
			<input type="text" class="u-full-width" name="title">
			<div><label class="u-full-width">Description:</label></div>
			<textarea name="description" class="u-full-width" id="" cols="50" rows="10"></textarea>
<!--			<div><label>Image URL:</label></div>
			{{> upload_semanticUI callbacks=finishedUpload}}
			<input class="hidden" type="text" name="imgURL" value="{{getUploadUrl}}">-->
			<div><label>Asking:</label></div>
			<input  class="u-full-width" type="text" name="Asking"><br>
            <div><label>Location:</label></div>
			<input class="u-full-width" type="text" name="location"><br>
			<input class="buttonSubmit" type="submit" value="Add Item">
		</form>
        </div>
        <div class="one column">&nbsp;</div>
        </div>
	{{/if}}
</template>