@import url(https://fonts.googleapis.com/css?family=Lato);

.columns {
}

html { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo{
	margin-top: 50px;
	margin-bottom: 50px;
}

body{
	color: #a3a59f !important;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
}

.post {
	height: 150px;
	background: #fff;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom: 40px;
}

.pic {
	width: 150px;
	float: left;
	/* margin-right: 10px ; */
	display: inline-block;
}

.title {
	font-size: 1.8em;
	line-height: normal;
}

.excerpt {
	/* border: 1px solid #ccc; */
	display: inline-block;
	/* float: right; */
	width: 595px;
	padding: 20px;
	padding-left: 25px;
}

.clear {
	clear: both;
}