<template name="test">
        <div class="row">
            <!--posts-->
            <div class="one column">&nbsp;</div>
                <div class="ten columns">
                    <div class="post">
                        <div class="pic">
                            <img src="img/post1.jpg" width="auto">
                        </div>
                        <div class="excerpt">
                            <i class="fa fa-star favorite"></i>
                            <div class="title">Free books</div>
                            <div>
                                <p>Pellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. DPellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. DPellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. DPellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. D</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="post">
                        <div class="pic">
                            <img src="img/post1.jpg" width="auto">
                        </div>
                        <div class="excerpt">
                            <div class="title">Free books</div>
                            <div>
                                <p>Pellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. D</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="post">
                        <div class="pic">
                            <img src="img/post1.jpg" width="auto">
                        </div>
                        <div class="excerpt">
                            <div class="title">Free books</div>
                            <div>
                                <p>Pellentesque eu sodales ligula, in aliquam elit. Vivamus in commodo metus, eu fringilla risus. Aenean mi sem, vestibulum at cursus non, tristique id orci. D</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <div class="one column">&nbsp;</div>
        </div>
        </template>